:root {
  --fontsize-xl: 4rem;
  --fontsize-600: 2rem;
  --fontsize-imagen: 2rem;
  --carrousel-tam: 5rem;
  --tarjetas-tamaño: 3rem;
  --fontsize-tarjeta: 1.1rem;
  --fs-form: 1.75rem;

  --tamaño-img-card-width: 9.25rem;
  --tamaño-img-card-heigth: 11.18rem;

  --bk-todo: #EAFAF9;
  --bk-vi: #c2f7eb;
}

@media (max-width: 930px) {
  :root {
    --fontsize-xl: 4rem;
    --fontsize-600: 1.50rem;
    --carrousel-tam: 3.75rem;
    --tarjetas-tamaño: 2.5rem;
    --fontsize-tarjeta: 0.90rem;

    --tamaño-img-card-width: 9.25rem;
  --tamaño-img-card-heigth: 11.18rem;

    
  }
}

@media (max-width: 750px) {
    :root {
      --fontsize-xl: 3rem;
      --fontsize-600: 1.25rem;
      --carrousel-tam: 3rem;
      --tarjetas-tamaño: 2rem;
      --fontsize-tarjeta: 0,70rem;

  --tamaño-img-card-width: 9.25rem;
  --tamaño-img-card-heigth: 11.18rem;

      
    }
  }
  
  @media (max-width: 570px) {
    :root {
      --fontsize-xl: 2rem;
      --fontsize-600: 1rem;
      --carrousel-tam: 2.6rem;
      --tarjetas-tamaño: 1.75rem;
      --fontsize-tarjeta: 0.5rem;
      
    }
  }

@font-face {
    font-family: 'aroma';
    src: url('fonts/AROMA-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'qontra' ;
    src: url(fonts/Qontra.otf);
    font-style: normal;
}

@font-face {
    font-family: 'inkfree';
    src: url(fonts/Inkfree.ttf);
    font-style: normal;
}

@font-face {
    font-family: "lemon-milk";
    src: url(fonts/LEMONMILK-Bold.otf);
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url(fonts/Roboto-LightItalic.ttf);
    font-style: normal;
}

@font-face {
    font-family: "roboto-medium";
    src: url(fonts/Roboto-Medium.ttf);
    font-style: normal;
}


body, html {
    margin: 0;
    padding: 0;
    background-color: var(--bk-todo);
}

/*INICIO DE LA BARRA DE NAVEGACION*/

header {
    width: 100%;
    position: fixed;
    z-index: 100;
   
}
nav {
     
    width: 100%;
    max-width: 100%;
}

nav ul {
    list-style: none;
}

nav > ul {
    display: table; 
    overflow: hidden;
    width: 100%;
    background:rgb(172, 169, 169);
    position: relative;
}

nav > ul li {
display: table-cell;

}

/*SUBMENU*/
nav > ul > li:hover > ul {
    display: block;
}

nav > ul > li > ul {
    display: block;
    background-color:rgb(172, 169, 169);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
      
}

nav > ul > li > ul {
    display: none;
} 

nav > ul li a {
    color: white;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav > ul > li > li > li a:hover {
    background-color: aqua;
}

nav > ul > li > a > span {
    background-color:rgb(236, 236, 15);
    display: block;
    height: 100%;
    width: 100%;    
    left: 0px;
    position: absolute;
    top: -55px;
} 

nav > ul > li > a:hover > span {
     top: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.iconos {
    
    width: 30px;
    height: 30px;
}


/*FIN DE LA BARRA DE NAVEGACION*/


/*
.barra-navegacion {
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.50);
-webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.50);
-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.50);
font-family: roboto-medium;
}
/*
.barra_nav {
    text-align: center;
    position: fixed;
    background-color: var(--bk-todo);
    width: 100%;
    display: inline-block;
}


.barra_nav ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 0;
}

.barra_nav ul li {
    display: inline-block;       
}

.barra_nav ul li a {
    text-decoration: none;
}
*/
/*** ESTILOS BOTÓN SLIDE CLOSE ***/
/*
.ov-btn-slide-close {
    background: #fff; 
    color: #4741d7; 
    border: 1px solid #4741d7; 
    padding: 5px;
    border-radius: 3px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    
    }
    .ov-btn-slide-close:before, .ov-btn-slide-close:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    background-color: #4741d7; 
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }
    .ov-btn-slide-close:after {
    left: 100%;
    }
    .ov-btn-slide-close:hover {
    color: #fff;
    }
    .ov-btn-slide-close:hover:before {
    left: 0;
    }
    .ov-btn-slide-close:hover:after {
    left: 50%;
    }
*/
.card-text{
    font-family: roboto;
    font-size: var(--fontsize-tarjeta); 
    
}   
.card-title {
    font-family: roboto-medium;
    
}

.titulos {
text-align: center;
background-color: var(--bk-todo);
font-size: var(--fontsize-xl);
outline: black 2px solid;
width: 100%;
}

.logo-barrio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-barrio img {
box-shadow: 0px 20px 20px 20px rgba(0,0,0,0.50);
-webkit-box-shadow: 0px 20px 20px 20px rgba(0,0,0,0.50);
-moz-box-shadow: 0px 20px 20px px rgba(0,0,0,0.50);
}

h1 {
    font-family: lemon-milk;
}

.contenido {
  
   height: 40rem;
   background-image: url('img/barrio-privado.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}   

.separador{
    background-color: var(--bk-co);
}

.separador-2 {
    color: black;
}

.viviendas {
    
    text-align: center;
    background-color: var(--bk-co);
}

.contenedor-carru {
    border: grey 2px solid;
    border-radius: 7px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;  
    margin-bottom: 20px;
    background-color:rgb(172, 169, 169);
}

.carousel {
    /*margin-bottom: 10px;*/
    border: rgb(14, 13, 13) 2px solid;
    border-radius: 7px;
    padding: 30px;
      
}

.imagen {
    height: 35rem;
}

.vivienda-titulo {
    text-align: center;
}

.texto-img{
    font-size: var(--fontsize-imagen);
}

.formulario {
    border: solid;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
   
}

.form-contenedor {
  font-family: qontra;
 font-size: var(--fs-form);
 
}

.form-contenedor-2{
    margin-left: auto;
    margin-right: auto;
}

.texto-form {
    text-align: center;
}

.contenedor-tarjeta{
    width: var(--tarjetas-tamaño);
    
}

.tarjetas {
    margin-top: 10px;
   
    }

.images-card {
   
   padding-top: 5px;
   
}

.tamaño-imagen {
    height: var(--tamaño-img-card-heigth);
    width: var(--tamaño-img-card-width);

}


.img_footer {
    width: 80px;
    height: 80px;
    text-align: center;
}

.footer p {
    color: white;
}

.footer {
    margin-top: 20px;
    font-family: inkfree;
    text-align: center;
    background-color: grey;
}



/* que es lo que tengo que hacer para hacer responsive el texto
usar las variables que tengo dedinidas arriba de todo en la parte de root.
me falta definir las variables para los titulos de los carrouseles

*/


/* debbuger
border: red 2px solid;
*/


  /* fin de css de animacion de texto*/

.tarjetas-css-izquierda {
    border: black 2px solid;
    display: flex;
    margin-left: 50px;
    padding: 5px;
    margin-right: 50px;
    margin-bottom: 20px;
}







