body, html {
    margin: 0;
    padding: 0;
}



.logo-barrio {
    display: flex;
  justify-content: center;
  align-items: center;
}

.contenido {
   height: 100%;
   background-image: url('img/barrio-privado.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}   

.separador{
    color: white;
}

.viviendas {
    text-align: center;
}

.fuente-titulo {
    font-size: 5em;
}

.casas-2amb {
    background-color: aquamarine;
    float: left;
}

.deptos {
    background-color:burlywood;
}

.img {
    width: 300px;
}

.tarjetas {
    margin-top: 10px;
}

.images-card {
    height: 250;
    width: 50px;
}

.personas1 {
    background-color:chartreuse;
    float: left;
    align-items: center;
    margin: 5px;
}

.img_footer {
    width: 80px;
    height: 80px;
    text-align: center;
}

.footer {
    text-align: center;
    background-color: grey;
}