:root {
  --fontsize-xl: 4rem;
  --fontsize-600: 2rem;
  --carrousel-tam: 5rem;
  --tarjetas-tamaño: 3rem;
  --fs-form: 1.75rem;
  --bk-todo: #EAFAF9;
  --bk-vi: #c2f7eb;
}

@media (max-width: 930px) {
  :root {
    --fontsize-xl: 4rem;
    --fontsize-600: 1.50rem;
    --carrousel-tam: 3.75rem;
    --tarjetas-tamaño: 2.5rem;
  }
}

@media (max-width: 750px) {
    :root {
      --fontsize-xl: 3rem;
      --fontsize-600: 1.25rem;
      --carrousel-tam: 3rem;
      --tarjetas-tamaño: 3rem;
    }
  }
  
  @media (max-width: 570px) {
    :root {
      --fontsize-xl: 2rem;
      --fontsize-600: 1rem;
      --carrousel-tam: 2.6rem;
      --tarjetas-tamaño: 2rem;
    }
  }

@font-face {
    font-family: 'aroma';
    src: url('fonts/AROMA-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'qontra' ;
    src: url(fonts/Qontra.otf);
    font-style: normal;
}

@font-face {
    font-family: 'inkfree';
    src: url(fonts/Inkfree.ttf);
    font-style: normal;
}

@font-face {
    font-family: "lemon-milk";
    src: url(fonts/LEMONMILK-Bold.otf);
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url(fonts/Roboto-LightItalic.ttf);
    font-style: normal;
}

@font-face {
    font-family: "roboto-medium";
    src: url(fonts/Roboto-Medium.ttf);
    font-style: normal;
}


body, html {
    margin: 0;
    padding: 0;
    background-color: var(--bk-todo);
}

.header {
    position: fixed;
    z-index: 100;
    
}

.barra-navegacion {
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.50);
-webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.50);
-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.50);
font-family: roboto-medium;
}

.barra_nav {
    text-align: center;
    position: fixed;
    background-color: var(--bk-todo);
    width: 100%;
    display: inline-block;
}


.barra_nav ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 0;
}

.barra_nav ul li {
    display: inline-block;       
}

.barra_nav ul li a {
    text-decoration: none;
}

/*** ESTILOS BOTÓN SLIDE CLOSE ***/
.ov-btn-slide-close {
    background: #fff; /* color de fondo */
    color: #4741d7; /* color de fuente */
    border: 1px solid #4741d7; /* tamaño y color de borde */
    padding: 5px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    
    }
    .ov-btn-slide-close:before, .ov-btn-slide-close:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    background-color: #4741d7; /* color de fondo hover */
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }
    .ov-btn-slide-close:after {
    left: 100%;
    }
    .ov-btn-slide-close:hover {
    color: #fff; /* color de fuente hover */
    }
    .ov-btn-slide-close:hover:before {
    left: 0;
    }
    .ov-btn-slide-close:hover:after {
    left: 50%;
    }

.card-text{
    font-family: roboto; 
    
}   
.card-title {
    font-family: roboto-medium;
    
}

.titulos {
text-align: center;
background-color: var(--bk-todo);
font-size: var(--fontsize-xl);
outline: black 2px solid;
width: 100%;
}

.logo-barrio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-barrio img {
box-shadow: 0px 20px 20px 20px rgba(0,0,0,0.50);
-webkit-box-shadow: 0px 20px 20px 20px rgba(0,0,0,0.50);
-moz-box-shadow: 0px 20px 20px px rgba(0,0,0,0.50);
}

h1 {
    font-family: lemon-milk;
}

.contenido {
   height: 100%;
   background-image: url('img/barrio-privado.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}   

.separador{
    background-color: var(--bk-co);
}

.separador-2 {
    color: black;
}

.viviendas {
    
    text-align: center;
    background-color: var(--bk-co);
}

.contenedor-carru {
    outline: grey 2px solid;
    padding: 5px;
    width: 600px;
    margin-right:auto;
    margin-left: auto;
}

.carousel {
    /*margin-bottom: 10px;*/
    outline: grey 2px solid;
}

.formulario {
    border: solid;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
   
}

.form-contenedor {
  background-color:burlywood;
 
  font-family: qontra;
 font-size: var(--fs-form);
 
}

.form-contenedor-2{
    margin-left: auto;
    margin-right: auto;
}

.contenedor-tarjeta{
    width: var(--tarjetas-tamaño);
    outline: red 2px solid;
}

.tarjetas {
    margin-top: 10px;
   
    outline: blue 2px solid;
}

.images-card {
   /*outline: red 2px solid;*/
   padding-top: 5px;
   
}


.img_footer {
    width: 80px;
    height: 80px;
    text-align: center;
}

.footer p {
    color: white;
}

.footer {
    font-family: inkfree;
    text-align: center;
    background-color: grey;
}

.prueba{
    outline: red 2px solid;
    margin-top: 3px;
}

/* que es lo que tengo que hacer para hacer responsive el texto
usar las variables que tengo dedinidas arriba de todo en la parte de root.
me falta definir las variables para los titulos de los carrouseles

*/


/* debbuger
border: red 2px solid;
*/


  /* fin de css de animacion de texto*/